/* -- all pages -- */

body {
	background-color: #3EB489;
}

/* -- main page -- */

.main {
	min-height: 500px;
	color: white;
}

#title {
	padding: 15px;
}

footer {
	height: 56px;
	background-color: gray;
	color: white;
}

/* -- about page -- */




/* -- contact page -- */

iframe {
    overflow-y: hidden;
    background-color: #fff;
}

/* -- resume page -- */

button {
    color: black;
}

button a:hover {
	color: lightgray;
}